@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* fonte da logo */
@import url('https://fonts.googleapis.com/css2?family=Libre+Caslon+Text:ital,wght@0,400;0,700;1,400&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'poppins', sans-serif;
}

body{
  overflow-x: hidden;
}

.homepage {
  background-color: rgba(162, 210, 255, 0.65);
  display: flex;
  width: 100vw;
  flex-wrap: wrap;
  gap: 20px;
  align-items: center;
  justify-content: center;
  height: 500px;
}

.texto-fundo-azul {
  width: 30%;
  /* margin-left: 20px; */
}


.imagem {
  border-radius: 10%;
  margin-bottom: 1rem;
}


.cotacoes {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 10px;
  height: max-content;
  gap: 40px;
  padding-bottom: 20px;
  padding-top: 20px;
}

#cards{
  display: flex;
  width: 100vw;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.retangulos {
  background-color: rgba(162, 210, 255, 0.65);
}

.container {
  /* background-color: rgba(162, 210, 255, 0.65); */
  background: linear-gradient(180deg, #8bc3f1, rgba(162, 210, 255, 0.65));
  border-radius: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  padding: 20px;
  margin: 10px;
  width: 250px;
  height: 200px;
  text-align: center;
  font-family: Arial, sans-serif;
  transition: transform 0.2s ease-in-out;
}

.container:hover {
  transform: scale(1.05);
}

.container p {
  margin: 5px 0;
  font-size: 1rem;
}

#nome {
  font-size: 18px;
  font-weight: bold;
}

#high {
  color: #2F3A8F;
  font-weight: bold;
}

#low {
  color: #3d478f;
  font-weight: bold;
}

#bid, #ask {
  font-weight: bold;
}

#menu {
  display: flex;
  list-style: none;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding-right: 20px; */
}

#menu a {
  display: flex;
  align-items: center;
  padding: 0.5rem;
  margin: 5px;
  color: #000;
  text-decoration: none;
}

.chamativa {
  background: linear-gradient(180deg, #1A1B41 0%, #4345A7 50%, #2F3A8F 100%);
  color: #FFF;
  text-align: center;
  font-style: normal;
  font-weight: 500;
  width: 1920px;
  height: 350px;
}

#logout-btn {
  display: flex;
  padding: 0.75rem 1.5rem;
  background-color: #2F3A8F;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  justify-content: space-between;
  align-items: center;
}

.servicos {
  font-weight: 600;
  cursor: pointer;
  font-size: 1.2rem;
}

#menu a:hover {
  color: #2F3A8F;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  border-top: 1px solid #2F3A8F;
}

#btn-mobile {
  display: none;
  font-weight: 600;
}

#cabecalho {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #ffffff;
  padding: 1rem 2rem;
  border-bottom: 2px solid #2F3A8F;
  width: 100vw;
  list-style: none;
  color: white;
  height: 80px;
  padding-right: 20px;
  padding-bottom: 10px;
}

#cabecalho nav a {
  margin: 0 0.1rem;
  text-decoration: none;
  color: #000000;
  font-weight: 400;
}

#cabecalho nav a:hover {
  color: #4957d6;
}

#div-logo {
  padding-left: 10px;
  display: flex;
  align-items: center;
}

#logo {
  padding: 20px 20px 20px 20px;
  cursor: pointer;
  font-family: "Libre Caslon Text", serif;
  font-weight: 400;
  color: #2F3A8F;
}

.legenda2 {
  padding-top: 90px;
  align-items: center;
  text-align: center;
  font-size: 30px;
}

.chamada_acao2 {
  align-items: center;
  text-align: center;
  padding-top: 60px;
}

.legendas {
  color: #131313;
  text-align: center;
  padding-top: 60px;
  padding-bottom: 60px;
  font-size: 30px;
}

.legenda_dois {
  font-size: 30px;
}

@media (max-width: 870px) {
  .homepage {
    height: auto;
    flex-direction: column;
    padding: 20px;
  }

  .texto-fundo-azul {
    width: 80vw;
    font-size: 2rem;
    margin-left: 20px;
  }

  .legenda{
    width: 80vw;
  }
}
@media (max-width: 720px) {
  .container {
    width: 90%;
}
  .texto-fundo-azul {
    font-size: 1.3rem;
    /* margin-left: 20px; */
  }

  .imagem{
    display: none;
  }

  #header {
    display: flex;
    /* text-align: left; */
    background-color: #1c1c1cc2;
  }

  #menu {
    width: 100%;
    display: block;
    position: absolute;
    text-align: center;
    width: 100%;
    top: 70px;
    right: 0px;
    background-color: #fff;
    height: 0px;
    transition: 0.6s;
    z-index: 10000;
    visibility: hidden;
    overflow-y: hidden;
    left: 0px;
  }

  #nav.active #menu {
    height: calc(100vh - 70px);
    visibility: visible;
    overflow-y: auto;
  }

  #menu a {
    padding: 1rem 0;
    margin: 0 1rem;
    justify-content: center;
    border-radius: 13px;
    border-bottom: 2px solid #2F3A8F;
    text-decoration-line: none !important;

  }

  #btn-mobile {
    display: flex;
    /* padding: 0.5rem 1rem; */
    font-size: 1rem;
    border: none;
    background: none;
    align-items: center;
    cursor: pointer;
  }

  #hamburguer {
    margin-left: 0.7rem;
    width: 20px;
    border-top: 2px solid;
    display: block;
    color: #000;
  }

  #hamburguer::after,
  #hamburguer::before {
    content: "";
    display: block;
    width: 20px;
    height: 2px;
    margin-top: 5px;
    background-color: currentColor;
    transition: 0.3s;
    position: relative;
  }

  #nav.active #hamburguer {
    border-top-color: transparent;
  }

  #nav.active #hamburguer::before {
    transform: rotate(135deg);
  }

  #nav.active #hamburguer::after {
    transform: rotate(-135deg);
    top: -7px;
  }
}