#menu {
  display: flex;
  list-style: none;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 20px;
}

#menu a {
  display: flex;
  align-items: center;
  padding: 0.5rem;
  margin: 5px;
  color: #000;
  text-decoration: none;
}

#menu a:hover {
  color: #2f3a8f;
}

#btn-mobile {
  display: none;
  font-weight: 600;
}

#cabecalho {
  border-bottom: 1.5px solid #2f3a8f;
  width: 100vw;
  background-color: #ffffff;
  display: flex;
  list-style: none;
  color: white;
  height: 80px;
  justify-content: space-between;
  align-items: center;
  padding-right: 20px;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  border-top: 1px solid #2f3a8f;
}

#div-logo {
  padding-left: 10px;
  display: flex;
  align-items: center;
}

#logo {
  padding: 20px 20px 20px 20px;
  cursor: pointer;
  font-family: "Libre Caslon Text", serif;
  font-weight: 400;
  color: #2f3a8f;
}

.servicos {
  font-weight: 600;
  cursor: pointer;
  font-size: 1.2rem;
}

#quadrado {
  flex: 1.4;
  padding: 2rem 4rem;
  height: 700px;
  background-size: cover;
  background-color: #2f3a8f;
  color: #000000;
  margin: 5rem 5rem 5rem;
  text-align: center;
}

#quadrado-dois {
  flex: 1.1;
  padding: 2rem 4rem;
  height: 700px;
  background-size: cover;
  background-color: #2f3a8f;
  color: #000000;
  margin: 5rem 5rem 5rem;
  text-align: center;
}

.chamada {
  color: #ffffff;
  font-size: 30px;
  margin-top: 2rem;
  font-weight: 500;
}

.preencher {
  color: #ffffff;
  font-size: 15px;
  margin-bottom: 4%;
  font-weight: 200;
}

#tudo {
  background-color: rgba(162, 210, 255, 0.65);
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

#form-container {
  flex: 1.1;
  height: 783px;
}

#register-form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-bottom: 2rem;
}

#register-form input {
  padding: 0.8rem 0.6rem;
  border: none;
  border-radius: 3px;
}

#register-form input[type="submit"] {
  background-color: #8dcad4;
  color: #ffffff;
  font-size: 1.1rem;
  font-weight: bold;
  cursor: pointer;
  transition: 0.4s;
}

#register-form input[type="submit"]:hover {
  background-color: #6eaeb9;
  color: #ffffff;
}

.login {
  color: #fff;
}

.login2 {
  color: #fff;
}

.login2:hover {
  color: #6eaeb9;
  transition: 0.4s;
}

@media (max-width: 720px) {
  .container {
    width: 90%;
  }

  #header {
    display: flex;
    /* text-align: left; */
    background-color: #1c1c1cc2;
  }

  #menu {
    width: 100%;
    display: block;
    position: absolute;
    text-align: center;
    width: 100%;
    top: 70px;
    right: 0px;
    background-color: #fff;
    height: 0px;
    transition: 0.6s;
    z-index: 10000;
    visibility: hidden;
    overflow-y: hidden;
    left: 0px;
  }

  #nav.active #menu {
    height: calc(100vh - 70px);
    visibility: visible;
    overflow-y: auto;
  }

  #menu a {
    padding: 1rem 0;
    margin: 0 1rem;
    justify-content: center;
    border-radius: 13px;
    border-bottom: 2px solid #2f3a8f;
    text-decoration-line: none !important;
  }

  #btn-mobile {
    display: flex;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border: none;
    background: none;
    align-items: center;
    cursor: pointer;
  }

  #hamburguer {
    margin-left: 0.7rem;
    width: 20px;
    border-top: 2px solid;
    display: block;
    color: #000;
  }

  #hamburguer::after,
  #hamburguer::before {
    content: "";
    display: block;
    width: 20px;
    height: 2px;
    margin-top: 5px;
    background-color: currentColor;
    transition: 0.3s;
    position: relative;
  }

  #nav.active #hamburguer {
    border-top-color: transparent;
  }

  #nav.active #hamburguer::before {
    transform: rotate(135deg);
  }

  #nav.active #hamburguer::after {
    transform: rotate(-135deg);
    top: -7px;
  }
}
